@font-face {
    font-family: 'Hellix';
    font-style: normal;
    src: local('Hellix'), url("../../public/assets/fonts/Hellix-Bold.woff") format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

:root {
    --blue900: #0f1923;
    --blue800: #19364e;
    --blue500: #2196f3;
}

.gold-border {
    /* golden game like border */
    border: 3px solid transparent;
    background: linear-gradient(var(--blue900) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to bottom, #dbc69c, #4d4229) border-box;
    border-radius: 100%;
}

.gold-border.selected {
    background: linear-gradient(var(--blue900) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to bottom, #bbe1ff, var(--blue500)) border-box;
}

.full-page-load {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.no-style {
    all: unset;
}