@import '../globalVariables.css';
.gold-border {
    /* golden game like border */
    border: 3px solid transparent;
    background: linear-gradient(var(--blue900) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to bottom, #dbc69c, #4d4229) border-box;
    border-radius: 100%;
}

.gold-border.selected {
    background: linear-gradient(var(--blue900) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to bottom, #bbe1ff, var(--blue500)) border-box;
}

.champ-avatar {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}

.champ-turn,
.ability-vid {
    width: 100%;
    max-height: 450px;
    min-height: 300px;
    object-fit: cover;
    object-position: top;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.champ-turn {
    filter: brightness(0.5);
}

.ability-vid {
    border-radius: 15px;
    aspect-ratio: 2;
}

.champ-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champ-tldr-roles {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.tldr-role-active {
    opacity: 1 !important;
}

.champ-tldr-wrapper {
    background-color: var(--blue500);
    border-radius: 15px;
    flex-wrap: wrap;
    box-shadow: 0 12px 17px 2px rgb(0 0 0 / 14%), 0 5px 22px 4px rgb(0 0 0 / 12%), 0 7px 8px -4px rgb(0 0 0 / 20%);
}

.champ-tldr {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--blue500);
    /* padding: 20px 10px; */
    border-radius: 15px;
    flex-wrap: wrap;
}

.champ-tldr>div {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    flex: 1 1 auto;
    position: relative;
    text-align: center;
    padding: 10px;
}

.champ-tldr>div:last-child {
    border-right: none;
}

.champ-details-container {
    margin: auto;
    top: -300px;
    margin-bottom: -220px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.rates-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 10px;
    margin-top: 20px;
}

.ability-thumb-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ability-thumb-container>img {
    max-width: 60px;
}

@media only screen and (max-width: 540px) {
    .champ-details-container {
        top: -225px;
    }
    .ability-thumb-container {
        gap: 5px;
    }
    .ability-thumb-container>img {
        max-width: 55px;
    }
}