@import '../globalVariables.css';
.navbar-bg {
    background-color: var(--blue500);
    width: 100%;
}

.navbar-container {
    max-width: 750px;
    padding: 5px 20px;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.navbar-title-container {
    font-family: Hellix !important;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.navbar-title {
    font-family: Hellix !important;
}

.navbar-title-container>img {
    max-height: 13px;
    margin-top: 4px;
}

.navbar-item {
    font-weight: bolder;
    text-transform: initial;
    opacity: 0.6;
}

.navbar-item.active {
    opacity: 1;
}